body {
    width: 100vw;
    margin: 0 !important;
    font-family: oswald;
    overflow-x: hidden;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    min-height: 350px;
    font-family: Oswald;
    color: aliceblue;
    display: flex;
    padding: 0;
    background-color: #333B40;


}





.header .display-4 {
    position: absolute;
    opacity: 0.7;
}

.display-4 a {
    color: white;
    text-decoration: none;
}

main {
    min-height: 400px;
}


.name {
    position: absolute;
    margin: 0;
    top: 255px;
    left: 0;
    width: 100%;
    font-size: 2em;
    background: rgb(32, 35, 41);
    opacity: 0.8;
}

.card {

    position: relative;

    transition: top 0.4s;
    top: 0;
}




.card:hover {
    top: -10px;
}

.character-body {
    font-size: 1em;
    font-family: "Roboto";
    color: #9e9e9e;
    animation: fadeIn 1s;
}

hr {
    background-color: white;
}

button {
    margin: 15px;
}


/* button css */


.button {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 15px;
}

.button svg {
    height: 55px;
    width: 150px;
    fill: none;
    stroke-width: 5;
}

.button svg .o1 {
    stroke: #199f9c(255, 179, 65, 0.7);
    fill: #58dfdc;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.button svg .o2 {
    stroke: white;
    stroke-dasharray: 20 420;
    stroke-dashoffset: 20;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.button span {
    position: absolute;
    margin: auto 0;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.button:hover .o1 {
    fill: #58dfdc;
}

.button:hover .o2 {
    stroke-dashoffset: -420;
}



/*End of button css  */